<div id="altbg">
    <div class="container my-5">
        <h1 class="display-4">Sign Up</h1>
        <br/>

        <%= render 'form' %>

    
        <hr />
        <%= link_to '<< Back To List', articles_path, class:"mydarktext" %> 
    </div>
</div>