<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center p-5">
    <h1 class="display-3">Blog</h1>
    <p class="lead">This is for my blog project development.</p>
    <a class="btn btn-light btn-lg" id="login" href="#" role="button"> LOGIN </a>
    </div>
  </div>
</div>