@import "bootstrap/dist/css/bootstrap";

html,
body {
  height: 100%;
}
.hero {
  position: relative;
  height: 60vh;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-image: url("https://picsum.photos/960/350?random=6&grayscale&blur=2");
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    //background-color: rgba(0,0,0,0.25);
    background-color: rgba(155, 189, 228, 0.63);
  }
}
.other {
  position: relative;
  color: #ffffff;
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
  margin-top: 6rem;
}
.auth_img {
  position: relative;
  margin-bottom: 6rem;
}
.auth_ctr {
  color: #0d2a50;
  position: relative;
  font-size: 1.4rem;
  text-align: center;
}
.category_badge {
  background-color: #d59071;
  color: #fff;
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}
.category_badge :hover {
  background-color: #c05b2c;
  font-weight: bold;
}

.badge {
  display: inline-block;
  padding: 0.8em 1.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.opac_hero {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  // background-color: rgba(0,0,0,0.25);
  background-color: rgba(235, 238, 248, 0.932);
}

#page-content {
  flex: 1 0 auto;
  background-image: asset-url("homeBg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
#altbg {
  flex: 1 0 auto;
  background-image: asset-url("double-bubble-outline.png");
  background-position: top center;
  background-repeat: repeat;
}
#altbgfixed {
  flex: 1 0 auto;
  background-image: asset-url("form_bg.jpg");
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome {
  flex: 1 0 auto;
  background-image: asset-url("welcome.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar {
  background-color: #184d94 !important;
}
.my-text {
  color: #184d94;
}

h1,
h2,
h3,
h4,
h5 {
  color: #184d94;
}
#logo {
  font-size: 1.6em;
  color: rgb(140, 166, 187);
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.jumbotron {
  background-color: transparent;
  padding: 6em;
}
.mydark {
  background-color: #184d94;
}
.mydarktext {
  color: #184d94;
  font-weight: bold;
}
.mysecondary {
  background-color: rgb(140, 166, 187);
}
.mysand {
  background-color: #d59071;
}
.mysand-text {
  color: #d59071;
}
#home-container {
  margin-top: 25px;
}
#login {
  color: white;
  background-color: #184d94;
  border-color: #053f61;
}
#login:hover {
  color: white;
  background-color: #102550;
  border-color: rgb(140, 166, 187);
}
#sticky-footer {
  flex-shrink: none;
  background-color: #184d94;
}
.profile-img5 {
  height: 200px;
  width: 200px;
  background-image: asset-url("img_avatar5.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}
.pagination {
  cursor: default;
  text-transform: uppercase;
  /* self-clearing method: */
}
.pagination a,
.pagination span,
.pagination em {
  padding: 0.4em 0.8em;
  display: block;
  float: left;
  margin-right: 5px;
  background: rgb(140, 166, 187);
  border-radius: 0.2em;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.pagination .disabled {
  color: #fff;
  border: 1px solid rgb(140, 166, 187);
}
.pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #184d94;
  color: rgb(140, 166, 187);
  border: 1px solid #184d94;
}
.pagination a {
  text-decoration: none;
  color: #fff;
  border: 1px solid rgb(140, 166, 187);
  background: rgb(140, 166, 187);
}
.pagination a:hover,
.pagination a:focus {
  font-weight: bold;
  background: #184d94;
  color: #fff;
  border-color: #184d94;
}
.pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}
.pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .pagination {
  height: 1%;
}
*:first-child + html .pagination {
  overflow: hidden;
}

.resp-img {
  max-width: 100%;
  object-fit: cover;
}
.cat-bgimg {
  background-image: url(https://picsum.photos/285?random=#{random_num});
  padding: 1em;
  height: 200px;
  background-clip: content-box;
  background-size: cover;
}
